
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family:"Bungee Spice", sans-serif;
    background: #3f537f;
    line-height: 1.5;
}

header
{
    background: linear-gradient(90deg, #7a5295 0%, #3f537f 100% ) ;
    border-bottom: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 20px solid #7a5295;
}

header h1
{
    font-size: 2rem;
    margin-bottom: 5px;
}

header p
{
    font-size:13px;
}


main
{
    text-align: center;
    margin: 10px;
    padding: 25px;
    max-width: auto;
}


/* ====== Seções dos botões ====== */

section div button
{
    font-size: 30px;
    background-color: #7a5295;
    border-radius: 5px;
    padding: 10px;
    border-color: #7a5295;
    color: rgb(13, 156, 223);
    box-shadow: 10px solid #7a5295;
    border: 1px solid  #4b017c;
    
}

/* Divisão para criar uma coluna em grid/ para posicionar os botões em cada local */
.Controle
{
    /* Cria uma tabela/grade */
    display: grid;
    /* Define a grade em 3x3: 3 colunas e 3 linhas de tamanho igual */
    /* columns = colunas = linha vertiacal */
    grid-template-columns: repeat(3, 1fr);
    /* rows = linha = linha horizontal */
    grid-template-rows: repeat(3, 1fr);
    /* tamanho do Controle */
    width:  500px;
    height: 300px;
    margin: 50px auto;
    /* Espaçamento entre as celulas */
    gap: 10px;
    
    
}

/* Configuração dos botões  */

.botão-frente
{
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    /* Começa na linha vertiacal 2(meio) e termina na linha  vertiacal 3 */
    grid-column: 2/3;
     /* Começa na linha horizontal 1 e  termina linha  horizontal 2 */
    grid-row: 1/2;
}

.botão-tras
{
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
     /* Começa na linha vertiacal 2(meio) e termina na linha  vertiacal 3 */
    grid-column: 2/3;
    /* Começa na linha horizontal 3 e  termina linha  horizontal 4 */
    grid-row: 3/4;
}

.botão-direita
{
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
     /* Começa na linha vertiacal 3 e termina na linha  vertiacal 4 */
    grid-column: 3/4;
    /* Começa na linha horizontal 2 e  termina linha  horizontal 3 */
    grid-row: 2/3;
}

.botão-esquerda
{
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
     /* Começa na linha vertiacal 1 e termina na linha  vertiacal 2 */
    grid-column: 1/2;
    /* Começa na linha horizontal 2 e  termina linha  horizontal 3 */
    grid-row: 2/3;
}

.botão-parar
{
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */
     /* Começa na linha vertiacal 2(meio) e termina na linha  vertiacal 3 */
    grid-column: 2/3;
    /* Começa na linha horizontal 2 e  termina linha  horizontal 3 */
    grid-row: 2/3;
}

/* Configurção da parte inferior da página */
footer
{
    background: linear-gradient(90deg, #7a5295 0%, #3f537f 100% );
    padding: 20px 20px;
    text-align: center;
}