
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family:"Bungee Spice", sans-serif;
    background: #3f537f;
    line-height: 1.5;
}

header
{
    background: linear-gradient(90deg, #7a5295 0%, #3f537f 100% ) ;
    border-bottom: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 20px;
}

header h1
{
    font-size: 2rem;
    margin-bottom: 5px;
}

header p
{
    font-size:13px;
}


main
{
    text-align: center;
    margin: 1px;
    padding: 25px;
    max-width: auto;
}


/* ====== Seções dos botões ====== */

section button
{
    font-size: 30px;
    background-color: #7a5295;
    border-radius: 5px;
    padding: 10px;
    border-color: #7a5295;
    color: rgb(13, 156, 223);
}


.botão-cima
{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.botão-baixo
{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.botão-direita
{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
    /* margin-right: 500px; */
}

.botão-esquerda
{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    /* margin-left: 500px; */
}

.botão-parar
{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}